*{box-sizing: border-box;}
.div-8{
 width: 1340px;
   background: #252B42;
   margin-top: -30px;
   height: 500px;
    background: #252B42;
}
.div1-8{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 80px 0px;
    margin-left: 180px;
}
.h2-8{
font-size: 40px;
line-height: 57px;
letter-spacing: 0.2px;
color: #FFFFFF;
margin: 0px 15px;
}
.p-8{
width: 356px;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.2px;
color: #FFFFFF;
margin: 0px 15px;
}
.header-8{
    display: flex;
flex-direction: column;
align-items: center;
width: 416px;

}
.img-8{
    padding: 0px 0px;
    margin-left: 1350px;
    margin-top: -270px;
}