/*
html,body{
    height: 100%;
}
.conteiner{
    width: 100%;
    height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
}

#heart{
    transform:  rotate(45deg);
}
#heart:first-child{
  border-top-left-radius:50%;
  border-top-right-radius: 50%;
}
#heart:last-child{
    position: relative;
    left: -100px;
    top: -100px;
    border-top-left-radius: 50%;
    border-bottom-left-radius:50%;
}
*/
body { 
    text-align: center; 
  
  }
  .heart {
	font-size: 150px;
	color: #e00;
    animation: beat .20s infinite alternate;
    animation-play-state: paused;
	transform-origin: center;
}
.heart:hover{
    animation-play-state: running;
}

@keyframes beat{
	to { transform: scale(1.8); }
}