*{
    box-sizing: border-box;
}
body{
    background-image: url(./photo-1543872084-c7bd3822856f.jpg);

}
div{
    display: flex;
    color: white;
    text-decoration: none;
    padding-top: 2px;
    margin: 0;
    padding-left: 250px;
}

h3{
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 32px;
}
ul{
    margin-left: 40%;
    display: flex;
    padding: 4px;
    font-weight: 700;
}
li{
    text-decoration: none;
    list-style-type:none ;
    padding-left:5px;
    padding: 15px;
}
a{
    color: white;
}
nav{
    display: block;
    width: 1322px;
height: 104px;
left: calc(50% - 1322px/2);
top: 0px;

}
.li{
    padding-top: 35px;
    padding-right: 70px;
}
h1{
font-family: Montserrat;
font-style: normal;
font-weight: 800;
font-size: 58px;
line-height: 80px;
text-align: center;
letter-spacing: 0.2px;
color: #FFFFFF;
}
h4{
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
text-align: center;
letter-spacing: 0.2px;
color: #FFFFFF;
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 40px;
}
.btn{
display: flex;
position: relative;
align-items: center;
padding: 5px 15px;
height: 48px;
left: 0px;
top: 0px;
background: #FF7B47;
border-radius: 37px;
flex: none;
order: 0;
flex-grow: 0;
width: 150px;
margin: 10px 5px;
margin-left: 289px;
}
.text{
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 28px;
text-align: center;
letter-spacing: 0.2px;
color: #FFFFFF;
}
.buttom{
display: flex;
align-items: center;
padding: 5px 15px;
position: static;
height: 48px;
width: 120px;
left: 195px;
top: 0px;
border: 1px solid #FFFFFF;;
box-sizing: border-box;
border-radius: 37px;
flex: none;
order: 1;
flex-grow: 0;
margin: 10px 0px;
}
.group{
    display: flex;
}
section{
height: 890px;
left: 0px;
right: 0px;
top: 1325px;

background: #FAFAFA;

}
h2{
    position: static;
width: 252px;
height: 57px;
left: 129.5px;
top: 0px;

/* h2 */

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 57px;
/* identical to box height, or 142% */

text-align: center;
letter-spacing: 0.2px;

/* text-color */

color: #252B42;

/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 15px;
}