*{
    box-sizing: border-box;
}
body{
    background:url(./welcome-to-our-beautiful.jpg);
    width: 
    1440px;
    height:
    793px;
}
.id{
    display: block;
    color: white;
    text-decoration: none;
    padding-top: 2px;
    margin: 0;
    padding-left: 250px;

}
h3{
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 32px;
}
ul{
    margin-left: 40%;
    display: flex;
    margin-right: 6px;
    font-weight: 700;
    line-height: 36.6px;
}
li{
    text-decoration: none;
    list-style-type:none ;
    padding-left:10px;
    padding: 10px;
    margin-left: 5px;

}