*{
    box-sizing: border-box;
}
body{
    background:url(./photo-1543872084-c7bd3822856f.jpg)
}
div{
    display: flex;
    color: white;
    text-decoration: none;
    padding-top: 2px;
    margin: 0;
    padding-left: 250px;

}
h3{
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 32px;
}
ul{
    margin-left: 40%;
    display: flex;
    padding: 4px;
    font-weight: 700;
}
li{
    text-decoration: none;
    list-style-type:none ;
    padding-left:5px;
    padding: 15px;
}
a{
    color: white;
}
nav{
    display: block;
    width: 1322px;
height: 104px;
left: calc(50% - 1322px/2);
top: 0px;

}
.li{
    padding-top: 35px;
    padding-right: 70px;
}
h1{
    font-family: Montserrat;
font-style: normal;
font-weight: 800;
font-size: 58px;
line-height: 80px;
/* or 138% */

text-align: center;
letter-spacing: 0.2px;

/* light-text-color */

color: #FFFFFF;
}
h4{
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
/* or 150% */

text-align: center;
letter-spacing: 0.2px;

/* light-text-color */

color: #FFFFFF;

/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 40px;
}